$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #eee;
$color-grey-light-2:#999;
$color-grey-light-3: #cccccc;
$color-grey: #777;

$color-grey-dark-1: #555;

$color-primary: #ff284e;
$color-primary-light: #ff6862;
