.todo {
	display: table;
	background-color: $color-grey-light-4;
	padding: 1.5rem;
	border-radius: 4px;
	box-shadow: 0 .5rem 1.5rem rgba($color-black, $alpha: .1);
	margin: 1rem 2rem;
	width: 27rem;
	transition: all .2s ease;
	cursor: default;
	padding-bottom: 0;
	height: fit-content;

	&:hover {
		box-shadow: 0 .5rem 1.5rem rgba($color-black, $alpha: .2);
	}

	&__check {
		display: table-cell;
		transform: translateY(-75%) scale(1.15);
		margin: 1rem;
		margin-left: 0;
		&:hover {
			cursor: pointer;
		}
	}

	&__cross {
		color: $color-primary-light;
		font-size: 2.8rem;
		font-weight: 700;
		transform: translate(-4px, -5px);
		display: table-cell;
		height: min-content;
		padding-bottom: 0;
		&:hover {
			cursor: pointer;
		}
	}

	&__title {
		display: table-cell;
		width: 90%;
		color: $color-primary-light;
		font-size: $default-font-size;
		transform: translateY(-25%);
		margin: 1rem;

	}

	&__check:checked ~ &__title {
		text-decoration: line-through $color-grey;
	}

	&__check:active, &__check:focus {
		border: none;
		outline: none;
	} 

}
