.todo {
	background-color: $color-grey-light-1;
	padding: 1rem;
	border-radius: 4px;
	box-shadow: 0 1rem 4rem rgba($color-black, $alpha: .2);
	margin: 1rem 2rem;
	width: 27rem;
	transition: all .2s ease;
	cursor: default;
	&:hover {
		box-shadow: 0 1rem 4rem rgba($color-black, $alpha: .4);
	}

	&__title {
		font-size: 2rem;
		font-weight: 400;
		display: inline-block;
		color: $color-primary;
		transform: translateY(5px);
		padding: 1rem;
		width: 85%;
		vertical-align: middle;
	}

	&__cross {
		margin-right: 1rem;
		font-size: 3rem;
		font-weight: 700;
		color: $color-primary-light;
		transform: translateY(25%) rotate(0);
		transition: transform .3s ease;
		display: inline-block;
		transform-origin: 50% 63%;

		&:hover {
			transform: rotate(180deg);
			cursor: pointer;
		}
	}
}
